commands:
  add-repo:
    command: curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash -
    ignoreErrors: true
  install-node:
    command: sudo yum install -y nodejs
    ignoreErrors: true
  install-pm2:
    command: sudo npm install pm2@latest -g
    ignoreErrors: true
  set-on-startup:
    command: pm2 startup
    ignoreErrors: true
  kill-python:
    command: pkill -9 -f /var/app/current/simp_bot.py
  start-bot:
    command: pm2 start /var/app/current/simp_bot.py --interpreter=/var/app/venv/staging-LQM1lest/bin/python3
    ignoreErrors: true
